<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<script src="#{request.contextPath}/resources/js/filters.js" type="text/javascript" />
	<script>
		//<![CDATA[
	
	   var app = angular.module("myApp", ["ngTable"]).controller("filterController", ['$scope', 'NgTableParams','$filter','$q',
       function($scope, NgTableParams,$filter,$q) {
           $scope.initialData = #{filterBean.serializedProducts};
           $scope.structuredData = #{filterBean.serializedStructured};
           $scope.dataLength= #{filterBean.allDataLength};
           $scope.assetClasses = #{filterBean.serializedAssetClasses};
           $scope.currencies = #{filterBean.serializedCurrencies};
           $scope.filtringMap = [];
           $scope.filtredData = clone($scope.initialData);
           var toBeFiltred=clone($scope.initialData);
           $scope.structured=false;
           $scope.tableParams = new NgTableParams({
        	   page: 1,     
               count: 15,   
               filter: {
               },
               sorting: {
                   date: 'asc'     
               }
               }, resetTableParams());

           function resetTableParams() {
               return {
                   total: $scope.filtredData.length,
                   getData: function(params) {
                	   var defer = $q.defer();
                	   var filteredData = params.filter() ?
                               $filter('filter')($scope.filtredData, params.filter()) :
                                   $scope.filtredData;
                       var orderedData = params.sorting() ?
                               $filter('orderBy')(filteredData, params.orderBy()) :
                                   $scope.filtredData;
                       params.total(orderedData.length); 
                       defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                       return defer.promise;
                   }
               }
           }
           
       }
   ]);
   app.filter('percentage', ['$filter', function($filter) {
       return function(input, decimals) {
           return $filter('number')(input * 100, decimals) + '%';
       };
   }]);    
	 //]]>
    </script>

</ui:composition>